<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/App.css"></link>
    <title>Team Solid</title>
  </head>
  <body>
    <div id="root"></div>

  <script src="bundle.js"></script>
</body>
</html>
