.login_form *{
    font-size: 1.1em !important;
}

.login_box {
    margin-top: 10%;
}

.text_board {
    height: 100vh;
}

.text_box {
    margin-top: 10%;
    height:33%;
}

.larg_text {
    font-size: xx-large;
}