.login_form *{
    font-size: 1.1em !important;
}

.login_box {
    margin-top: 10%;
}

.text_board {
    height: 100vh;
    overflow: auto;
    position: relative;
}

.text_board:before {
    content: "";
    position: fixed;
    left: -5%;
    right: -5%;
    z-index: -1;

    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), #2b3137 url("../assets/bgyosemite.jpg");
    background-size:110% 110%;
    background-repeat: no-repeat;

    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.loginpage_header {
    color: #d9d9d9;
    height: 100px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
    padding: 10px;
    background-color: #24292e;
}
.form_header{
    color: white;
}
.text_box {
    margin-top: 20%;
    height:25%;
}
.text_font{
    font-family:Roboto,-apple-system,BlinkMacSystemFont,"Helvetica Neue","Segoe UI","Oxygen","Ubuntu","Cantarell","Open Sans",sans-serif;
}
.larg_text {
    font-size: xx-large;
}
.text_box_header{
    font-size: 40px;
    color:white;
    font-weight: 300;
}
.text_box_content{
    font-size: 26px;
    color:white;
    font-weight: 300;
}
.mid_text {
    font-size: x-large;
}